<div class="w-96">
  <form
    class="flex flex-col gap-2"
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
  >
    @for (question of questions(); track question) {
      <div>
        <app-dynamic-form-question
          [question]="question"
          [form]="form"
        />
      </div>
    }
    <div style="margin-top: 20px">
      <button
        mat-flat-button
        type="submit"
      >
        Save
      </button>
    </div>
  </form>
  @if (payLoad()) {
    <div><strong>Saved the following values</strong><br />{{ payLoad() }}</div>
  }
  {{ form.value | json }}
</div>
