<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let question of questions">
      <!-- TODO: CAMBIARLO EN VEZ DE PASARLE EL FORM VERLO DE HACERLO CON VALUE ACCESOR -->
      <app-dynamic-form-question
        [question]="question"
        [form]="form"
      ></app-dynamic-form-question>
    </div>

    <div>
      <button type="submit">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad">
    <strong>Saved the following values</strong><br />{{ payLoad }}
  </div>
</div>
